

header{
    color: white;
    height: 2.5rem;
    padding: 0.625rem;
    background-color: orange;
    border-bottom: 1px solid black;
    font-family: Arial;
}

footer{
    color: white;
    height: 2.5rem;
    padding: 0.625rem;
    background-color: black;
}

main{
    margin: 0.938rem;
    padding: 1.25rem 1.25rem;

    width: 57.6rem;
    height: 31.25rem;
}

article{
    margin: 1.563rem 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

